main {
    z-index: 0;
    padding-top: 8rem;
    position: relative;
    inset: 0;
    z-index: -198789;
    /* height: 100vh; */
    /* background-attachment: fixed; */
    background-image: url(/assets/images/redcity2.png);
    background-size: cover;
    background-position: center;
}

main::before {
    position: absolute;
    content: '';
    backdrop-filter: brightness(0.4) contrast(1.1);
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 0;


}
.contact_container{
    z-index: 1;
}

.contact {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact h1 {
    z-index: 10;
    font-size: 4rem;
    font-weight: 500;
    color: var(--yellow);
    text-shadow: 0 0 1.5rem var(--orange);
}

.contact_container {
    /* z-index: 1; */
    max-width: 700px;
    width: 90%;
    padding: 2rem;
    margin: 2rem;
    border-radius: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;
    background: linear-gradient(to bottom, var(--red-pinkish), var(--dark));
}

.contact_container input,
.contact_container textarea {
    border: none;
    width: 100%;
    height: 3rem;
    border-radius: 1rem;
    background-color: var(--dark);
    filter: opacity(66%);
    color: var(--light);
    font-weight: 500;
    font-size: 1rem;
    padding: 1rem;
}

.contact_container .message {
    resize: verticali;
    height: 200px;
}

.contact_container button {
    width: 10rem;
}