.d-flex {
    display: flex;
}
body{
    padding: 0;
    margin: 0;
}

.flex-column {
    flex-direction: column;
}

.gap-3 {
    gap: 3;
}

.content-center {
    justify-content: center;
}

.content-around {
    justify-content: space-around;
}
.content-between {
    justify-content: space-between;
}
.text-center{
    text-align: center;
}

.items-center {
    align-items: center;

}
