.Tournaments {
    padding-top: 7%;
    padding-bottom: 50px;
}
main{
    width: 100%;
}
.Tournaments__title {
    text-align: center;
    font-size: 4.5rem;
    font-weight: 600;
    color: var(--yellow);
    padding-bottom: 1rem    
}

.Tournaments__description {
    text-align: center;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--light);
    padding-bottom: 3rem
}

.Tournaments__card {
    background: linear-gradient(to top, #370007, var(--red-pinkish));
    border-radius: 10px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
    /* padding: 20px; */
    /* margin-bottom: 20px; */
    width: 25rem;
    /* max-width: 500px; */
    position: relative;
    margin: 0 auto;
}
.Tournaments__card:hover{
    cursor: pointer;
    scale: 1.01;
    transition: all 0.3s ease;
}
.Tournaments__cards{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
    margin-top: 20px;
}

i{
    margin-right: 10px;
}

.Tournaments__card-image_container{
    position: relative;
    overflow: hidden;
    border-radius: 10px 10px 0 0 ;
    /* margin-bottom: 20px; */
}
.Tournaments__card-image_container::after{
    content: 'Upcoming';
    position: absolute;
    top: 10px;
    right: 10px;
    color: var(--light);
    padding: 10px;

    /* width: 50px;
    height: 80px; */
    background: rgba(218, 38, 38, 0.9);
    /* opacity: 0.5; */
    z-index: 1;
    border-radius: 10px;
}

.Tournaments__card-image_container::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    transition: all 0.3s ease;
    /* opacity: 0.5; */
    z-index: 1;
}

.Tournaments__card:hover .Tournaments__card-image_container::before{
    background: rgba(0, 0, 0, 0.5);
}

.Tournaments__card-image{
    width: 100%;
    height: 200px;
    object-fit: cover;
    border-radius: 0 0 0 0 ;
    /* margin-bottom: 20px; */
}
.Tournaments__card-image_container{
    /* border-radius: 10px 10px 0 0; */
    /* margin-bottom: 20px; */
}
.Tournaments__card-link{
    text-decoration: none;
    
    color: var(--light);
}
.Tournaments__card-actions {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: 100%;
    font-size: 1.2rem;
    font-weight: 400;
    color: var(--light);
    padding: 10px;
}
.Tournaments__card-actions button:hover{
    box-shadow: 0px 0px 1rem var(--yellow);
    /* scale: 1; */
    transition: all 0.1s ease;
}
.Tournaments__card{
    background-color: var(--dark);
    /* border-radius: 10px; */
}

.Tournaments__card-title{
    font-size: 1.5rem;
    font-weight: 600;
    color: var(--yellow);
    margin-bottom: 10px;
}
.Tournaments__card-description{
    font-size: 1rem;
    font-weight: 400;
    color: var(--light);
    margin-bottom: 10px;
}
.Tournaments__card-content{
    font-size: 1rem;
    position: absolute;
    padding: 10px;
    z-index: 2;
    top: 0;
    font-weight: 400;
    color: var(--light);
    margin-bottom: 10px;
}